<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="../public/css/style.css" /> -->
  </head>
  
    <%- include('./layout'); %>

  <body>
    <div class="container">

      <div class="register">
        <h1>Detail</h1>
        <form action="/update" method="post">
          <input type="text" name="title"  value=<%= detail.title %>><br />
          <textarea name="body" id="body" rows="10"><%= detail.body %></textarea><br />
          <input type="hidden" name="id" value=<%= detail._id %>> 
          <input type="hidden" name="_method" value="put">
          <input type="submit" class="btn first" value="update" />
        </form>
        <form action="/delete" method="post">
            <input type="hidden" name="id" value=<%= detail._id %>> 
            <input type="hidden" name="_method" value="delete">
            <input type="submit" class="btn first" value="delete" />
          </form>
      </div>
    </div>
    <br />
    <br />

    <h1>Comments</h1>
    <div>

        <form action="/comment" method="post">
            <input type="text" name="comment"><br />
            <input type="hidden" name="articleId" value=<%= detail._id %>> 
            <input type="submit" class="btn first" value="Post comment" />
        </form>
    </div>
    <div>
    <% if (comments.length !== 0) { %>
      <% for(let i=0; i < comments.length; i++) { %>
        <p><%= comments[i].comment %></p>
        <form action="/like" method="post">
          <input type="hidden" name="commentId" value=<%= comments[i]._id %>> 
          <input type="submit" class="btn first" value="Like" />
        
        <% for(let j=0; j < likes.length; j++) { %>
          <% if ( comments[i]._id == likes[j].commentId) { %>
            <p>You like that</p>
            <input type="hidden" name="commentId" value=<%= likes[j]._id %>> 
            <input type="hidden" name="commentId" value=<%= likes[i].like %>> 
          <% } %>
        <% } %>
      </form>
      <% } %>
    <% } %> 
    </div>
  </body>
</html>
